.wrapper, .moves {
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 500px;
  flex-direction: column;
}
.coin {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  font-size: 32px;
}
.coin div {
  padding: 10px 30px;
  background-color: rgba(0,0,0,0.6);
}
